/* Add a consistent font-family for the entire page */
body {
  font-family: Arial, sans-serif;
}

.header {
  font-family: 'Bruno Ace SC', cursive;
  font-size: 55px;
  font-weight: 400;
  text-align: right;
  color: rgb(225, 205, 205);
}

/* Center the form inputs */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the form inputs */
input[type="text"],
textarea,
select,
input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

/* Improve the header styling */
header {
  background-color: #f8f9fa;
  padding: 20px;
}

/* Add a background color to the task cards */
.card-body {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

/* Add hover effects to buttons */
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Improve the background image styling */
.top {
  background-image: url('https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 150px 0;
}

/* Center the options and search button */
.input-group.mt-2.justify-content-center {
  display: flex;
  justify-content: center;
}

/* Adjust the position of the 'Random' button */
#randomButton {
  position: absolute;
  top: 70%; /* Adjust this value to vertically center the button in its parent container */
  left: 50%; /* Adjust this value to horizontally center the button in its parent container */
  transform: translate(-50%, -50%); /* Center the button perfectly */
}




/* body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    font-family: 'Bruno Ace SC', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  input[type="text"],
  textarea,
  select,
  input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  header {
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  
  .card-body {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
  }
  
  
  .btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  
  .top {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 150px 0;
  }
  
  
  .input-group.mt-2.justify-content-center {
    display: flex;
    justify-content: center;
  }
  
  #randomButton {
    position: relative;
    top: -50px;
  } */